---
layout: archive
title: "Teaching & Mentoring"
permalink: /teaching/
author_profile: true
---

<h2>Current students</h2>
<ol>
  <li>Patricia Solana, Ph.D. in Geosciences (Auburn University), expected 2029.</li>
  <li>John Israel, B.S. in Materials Science (Rice University), expected 2026.</li>
</ol>

<h2>Former students</h2>
<ol>
  <li>Roberto Perera, Ph.D. in Aerospace Engineering (Auburn University), 2024 (currently at the Naval Air Warfare Command Weapons Division).</li>
  <li>Alexander Davis, Ph.D. in Aerospace Engineering (Auburn University), 2023 (currently at ExoAnalytics Solutions).</li>
  <li>Leticia De Marchi, Ph.D. in Geosciences (Auburn University), 2021 (currently at Auburn University).</li>
</ol>

<!-- {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->
