---
layout: archive
title: "Teaching & Mentoring"
permalink: /teaching/
author_profile: true
---

Current students
======
1. Patricia Solana, Ph.D. in Geosciences (Auburn University), expected 2029.

Former students
======
1. Roberto Perera, Ph.D. in Aerospace Engineering (Auburn University), 2024 (currently at the Naval Air Warfare Command Weapons Division).
1. Alexander Davis, Ph.D. in Aerospace Engineering (Auburn University), 2023 (currently at ExoAnalytics Solutions).
1. Leticia De Marchi, Ph.D. in Geosciences (Auburn University), 2021 (currently at Auburn University).


<!-- {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->
